.btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    color: pink;
  }
  
  .btn-default {
    background: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    background: #1677ff;
    color: #fff;
  }

  .btn-link {
    background-color: #fff;
    color: #1677ff;
  }
  